.wrapp {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f4f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.icon {
    font-size: 2.5rem;
    color: #470606;
    margin-right: 10px;
}

.title {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 2px;
}